*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #f2f2f2;
}

.facture-a4{
    width: 21cm;
    height: 29.7cm;
    background-color: white;
    margin: 100px auto;
}
main{
    width: 100%;
    height: 65%;
    margin: auto;
    font-family: 'helvetica';
    font-size: 0.8em;
    
}
header {
    width: 90%;
    margin: auto;
    height: 20%;
    border-bottom: 1px solid red;
    display:flex;
    font-family: 'helvetica';
}
header h1{
    font-size: 3em;
    margin-top: -35%;
    margin-left: 150%;
}

.compagny{
    width: 50%; 

}

.logo{
    width: 60%;
}

#logo{
    width: 100%;
    height: 90%;
    margin-top: 8%;
    margin-left: 10%;
}

.compagny-informations{  
    font-size: 0.8em;  
}


ul{
    margin-left: 9%;
    margin-top: 2%;
    list-style: none;
    line-height: 1.5em;
    
    
}

.container{
    width: 100%;
    height: 30%;
    display:flex;
    
}

#facture{
    width: 50%;
    height: 60%;
    margin-top: 18%;
    margin-left: 6%;
    font-size: 1em;
    line-height: 1.5;
}

#client{
    width: 50%;
    margin-top: 2%;
    
    font-size: 1em;
    line-height: 1.5;
}

table{
    width: 90%;
    margin: auto;
    border: 1px solid black;
    border-collapse:collapse;
    line-height: 2em;  
}
th, tr{
    border: 1px solid black;
    

}
.tableTTC {
    width: 20%;
    margin-left: 75%;
    margin-top: 5%;
}
.tableTTC p{  
    width: 90%;
    line-height: 2em;
    border-bottom: 1px solid black;
    margin-left: 10%;
    

}

#button{
    width: 100px;
    height: 20px;
    margin: auto;
    border-radius: 3px;
    text-align: center;
    margin-top: 10%;
    font-size: 1.2em;
    font-weight: bold;
   
 }
.modalite{
   
    margin-left: 5%;
    margin-top: 3%;
   

}
footer{
    width: 90%;
    margin: auto;
    border-top: 1px solid red;   
}

@media print{


    #mail{
        text-decoration: none;
        color: black;
    }
    #button{
        display: none;
     }
}